<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" attr.data-target="#{{pr.id}}">
  View More..
</button>

<div class="modal fade" id="{{pr.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Product Details</h4>
      </div>
      <div class="modal-body">
        <table class="table table-bordered table-condensed">
          
          <tbody>
            <tr *ngFor="let prop of product_properties()">
                <td><strong>{{prop|uppercase}}</strong></td>
                <td>{{pr[prop]}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>