<table class="table table-bordered table-condensed">
	<thead>
		<tr>
			<th>ID</th>
			<td>Name</td>
			<td>Price</td>
			<td>Stock</td>
			<td>Description</td>
		</tr>
	</thead>

	<tbody>
		<tr *ngFor="let product of products">
			<td>{{product.code}}</td>
			<td>{{product.name}}</td>
			<td>{{product.price}}</td>
			<td>{{product.stock}}</td>
			<td>{{product.description}}</td>
			<td><product-details [pr]="product"></product-details>
				<product-update [pr]="product"></product-update>
			</td>
		</tr>
	</tbody>
</table>